
@{
    ViewData["Title"] = "ViewCV";
}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet"
      id="bootstrap-css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet"
      id="bootstrap-css" />
<link rel="stylesheet" href="/css/viewcv_style.css">
<link rel="stylesheet" href="/css/layout-style.css"> <!-- check -->
<link rel="stylesheet" href="/css/site.css"> <!-- check -->
<script>
    function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "See more ▼";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "See less ▲";
            moreText.style.display = "inline";
        }
    }
</script>
<!DOCTYPE html>
<html>
<body>
    <section class="view-company-content">
        <div class="container-fluid m-0 ">
            <div class="row d-md-flex-row  overflow-hidden">
                <div class="col-md-4 p-0 col-12 bg-light d-flex overflow-hidden " style="height: 91vh;">
                    <div class="card p-0   w-100 h-100 text-light   border-0 ">
                        <img class="card-img h-100 w-100"
                             src="https://images.unsplash.com/photo-1550757750-4ce187a65014?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                             alt="Card image">
                        <div class="card-img-overlay p-1 p-md-3">
                            <div class="position-relative  w-100  h-100 d-flex">
                                <div class="container-fluid align-self-end  mt-5 mb-2">
                                    <div class="row">
                                        <div class="col-md-6 col-7">
                                            <div class=" pt-0 d-inline-block">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8  pt-5 pt-md-1  bg-transparent">
                    <h1 id="CVID">#123456789</h1>
                    <div class="container-fluid d-flex align-items-center h-50">
                        <div class="row justify-content-md-center">
                            <span class="vl"></span>
                            <div class="col-md-12">
                                <p id="CVDetail" style="height: 30vh; overflow-y: auto;">
                                    <span id="Header">Họ và tên: </span>
                                    <span id="Name"> Nguyen Van A</span>
                                    <span> <br /></span>
                                    <span id="Header"> Ngày sinh: </span>
                                    <span id="Dob"> 1/1/2001</span>
                                    <span> <br /> <br /></span>
                                    <span id="Header">Major: </span>
                                    <span id="Major"> Công Nghệ Thông Tin</span>
                                    <span> <br /></span>
                                    <span id="Header">Trường: </span>
                                    <span id="University"> BKHCM</span>
                                    <span> <br /></span>
                                    <span id="Header">Định Hướng Nghề Nghiệp: </span>
                                    <span id="CareerObjectives">Web Developer</span>
                                    <span> <br /></span>
                                    <span id="Header"> Kỹ Năng: </span>
                                    <span id="Skills"> ASP.Net</span>
                                    <span> <br /> <br /></span>
                                    <span id="Header">Brief Introduction: </span>
                                    <span id="BriefIntroduction">
                                        <span> Just some text after some text and in between some more text <br /></span>
                                        <span> I'm next to the last line of text <br /></span>
                                        69 stacks<span id="dots"><br /></span>
                                    </span>
                                    <span id="more">
                                        <!--more là award+certificates+activities theo như db -->
                                        420 Languages <br />
                                        <span> Just some text after some text and in between some more text <br /></span>
                                        <span> I'm next to the last line of text <br /></span>
                                        <span> I'm the last line of text <br/></span>
                                    </span>
                                    <button onclick="myFunction()" id="myBtn" style="border-color: white; border:0; color: #325EEA; background-color: white; padding:0px; outline: none;">See more ▼</button>
                                    <span> <br /><br /></span>
                                    <span id="Header">Kinh nghiệm làm việc (tháng): </span>
                                    <span id="WorkExp">12</span>
                            </div>
                        </div>
                    </div>
                    <button id="seeJobs" data-toggle="modal" data-target="#JobPost">
                        See More
                    </button>
                    <div style="margin-left: 23%; margin-top: 2.5%;">
                        <a style="border-radius: 50%; border: 0px; background-color: white;" href="#">
                            <img src="~/media/up.svg" style="height: 50px; width: 50px; " />
                        </a>
                    </div>
                    <div style="margin-left: 13%; margin-top: -7%;">
                        <a style="border-radius: 50%; border: 0px; background-color: white; outline: none" href="#">
                            <img src="~/media/down.svg" style="height: 50px; width: 50px;" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

<!-- Modal -->
<div id="JobPost" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="exampleModalScrollableTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document" style="overflow-y: initial">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<h1 class="modal-title">Available Jobs</h1>*@
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="height: 60vh; overflow-y: auto;">
                <span id="Header">Họ và tên: </span>
                <span id="Name"> Nguyen Van A</span>
                <span> <br /></span>
                <span id="Header"> Ngày sinh: </span>
                <span id="Dob"> 1/1/2001</span>
                <span> <br /> <br /></span>
                <span id="Header">Major: </span>
                <span id="Major"> Công Nghệ Thông Tin</span>
                <span> <br /></span>
                <span id="Header">Trường: </span>
                <span id="University"> BKHCM</span>
                <span> <br /></span>
                <span id="Header">Định Hướng Nghề Nghiệp: </span>
                <span id="CareerObjectives">Web Developer</span>
                <span> <br /></span>
                <span id="Header"> Kỹ Năng: </span>
                <span id="Skills"> ASP.Net</span>
                <span> <br /> <br /></span>
                <span id="Header">Brief Introduction: </span>
                <span id="BriefIntroduction">
                    <span> 69 stacks 420 Languages Just some text after some text and in between some more text</span>
                    <span> I'm next to the last line of text</span>                   
                    <span> Just some text after some text and in between some more text</span>
                    <span> I'm next to the last line of text</span>
                    <span> I'm the last line of text</span>
                </span>
                @*<button onclick="myFunction()" id="myBtn" style="border-color: white; border:0; color: #325EEA; background-color: white; padding:0px; outline: none;">See more ▼</button>*@
                <span> <br /><br /></span>
                <span id="Header">Kinh nghiệm làm việc (tháng): </span>
                <span id="WorkExp">12</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


