
@{
    ViewData["Title"] = "CreateJob";
}

<!DOCTYPE html>
<!-- saved from url=(0042)http://thetheme.io/thejobs/resume-add.html -->
<html lang="en">
<head>
</head>

<body class="nav-on-header smart-nav">

    @*<form action="http://thetheme.io/thejobs/resume-add.html#">*@
    <main>
        <div class="row d-md-flex-row overflow-hidden">
            <div class="col-md-8 pt-10 pt-md-1 pb-5 bg-light">
                <div class="container page-name">
                    <h1 class="text-center">Create a job</h1>
                </div>

                <div class="col-xs-12 col-sm-10 mt-5 w-100">
                    <h6>Name</h6>
                    <div class="form-group w-100">
                        <input type="text" class="form-control input-lg" placeholder="Name">
                    </div>

                    <h6>Position</h6>
                    <div class="form-group w-100">
                        <input type="text" class="form-control input-lg" placeholder="Position">
                    </div>

                    <h6>Information</h6>
                    <div class="form-group w-100">
                        <textarea class="form-control" rows="3" placeholder="Short description about the job"></textarea>
                    </div>

                    <button type="button" class="btn btn-primary mt-3 w-100">Create job</button>

                </div>
            </div>

            <div class="col-md-4  p-0 col-12 bg-light d-flex overflow-hidden ">
                <div class="card p-0   w-100 h-100 text-light   border-0 ">
                    <img class="card-img h-100 w-100"
                         src="https://images.unsplash.com/photo-1550757750-4ce187a65014?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                         alt="Card image">
                </div>
            </div>
        </div>
    </main>
    @*</form>*@
</body>
</html>