
@{
    ViewData["Title"] = "CreateCompanyProfile";
}

<!DOCTYPE html>
<!-- saved from url=(0042)http://thetheme.io/thejobs/resume-add.html -->
<html lang="en">
<head>
</head>

<body class="nav-on-header smart-nav">

    @*<form action="http://thetheme.io/thejobs/resume-add.html#">*@
    <main>
        <div class="row d-md-flex-row overflow-hidden">
            <div class="col-md-4  p-0 col-12 bg-light d-flex overflow-hidden ">
                <div class="card p-0   w-100 h-100 text-light   border-0 ">
                    <img class="card-img h-100 w-100"
                         src="https://images.unsplash.com/photo-1550757750-4ce187a65014?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                         alt="Card image">
                </div>
            </div>

            <div class="col-md-8 pt-10 pt-md-1 pb-5 bg-light" style="height: 550px; overflow-y: scroll;">
                <div class="container page-name">
                    <h1 class="text-center">Welcome! Let's create your profile!</h1>
                </div>

                <div class="col-xs-12 col-sm-8 mt-5 w-100">
                    <div class="mb-4">
                        <h5>Representative's Information</h5>
                    </div>

                    <h6>Name</h6>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg w-100" placeholder="Name">
                    </div>

                    <h6>Phone Number</h6>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg w-100" placeholder="Phone number">
                    </div>

                    <h6>Male / Female</h6>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg w-100" placeholder="Male / Female">
                    </div>

                    <h6>Position</h6>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg w-100" placeholder="Position">
                    </div>

                    <hr class="hr-lg">

                    <div class="mb-4">
                        <h5>Company's Information</h5>
                    </div>

                    <h6>Name</h6>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg w-100" placeholder="Name">
                    </div>

                    <h6>Industry</h6>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg w-100" placeholder="Industry">
                    </div>

                    <h6>Address</h6>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg w-100" placeholder="Address">
                    </div>

                    <h6>Tax number</h6>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg w-100" placeholder="Tax number">
                    </div>

                    <button type="button" class="btn btn-primary mt-3 w-100">Finish</button>

                </div>
            </div>
        </div>
    </main>
    @*</form>*@
</body>
</html>