
@{ 
    ViewData["Title"] = "Headhunt"; 
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Headhunt</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/headhunt_style.css">
</head>

<body>
    <main>
        <div class="contact">
            <h1>Contact us</h1>
        </div>

        <div class="slogan">
            <h3>Can't find who you need? Need a private headhunt? Need a specialist?</h3>
            <h4>Drop us a line and we'll help you as soon as possible.</h4>
        </div>

        <div class="contact-name">
            <label class="label" for="Name">Your Name*</label>
            <input type="text" class="form-control" maxlength="50" required>
        </div>

        <div class="contact-info">
            <label class="label" for="Info">Contact Info*</label>
            <input type="text" class="form-control" maxlength="50" required>
        </div>

        <div class="message">
            <label class="label" for="Info">Message</label>
            <textarea type="text" class="form-control" maxlength="500" required" style="height: 142px;">
            </textarea>
        </div>

        <div class="send-button">
            <button type="submit" class="form-control btn btn-primary rounded submit px-3">Send</button>
        </div>

    </main>
</body>

</html>
