
@{
    ViewData["Title"] = "ViewEvent";
}

<link rel="stylesheet" href="/css/layout-style.css"> <!-- check -->
<link rel="stylesheet" href="/css/site.css"> <!-- check -->
<link rel="stylesheet" href="/css/viewevent_style.css"> <!-- check -->

<!DOCTYPE html>
<html>
<body>
    <div class="row">
        <div class="col-md-8" style="overflow-y: scroll; height: 80vh">
            <div class="input-group p-2 col-md-12 mt-1">
                <input style="border-start-start-radius: 15px;border-end-start-radius: 15px"
                       class="form-control py-2 border-right-0 border" type="search" id="example-search-input">
                <span class="input-group-append">
                    <button style="border-start-end-radius: 15px;border-end-end-radius: 15px"
                            class="btn btn-outline-secondary border-left-0 border" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>

            <div class="col-xs-12 pr-4 pl-4">
                <div class="row p-2 mt-2" id="job-item">
                    <img class="col-md-2" src="https://laptrinhcanban.com/css/images/page/java-co-ban-cho-nguoi-moi-bat-dau.webp" width="90" height="70">
                    <div class="col-md-7" style="width:60vw">
                        <div class="row">
                            <h5 style="font-size: 20px"><b>JAVA Developer Specialist Generalist</b></h5>
                            <h6>Ho Chi Minh</h6>
                            <div class="mr-1 ml-1">&bull;</div>
                            <h6>District 4</h6>
                            <div class="col-md-5 ml-3">
                                <img height="20" width="20" class="mr-1" src="https://www.freeiconspng.com/thumbs/eye-icon/eye-of-a-human-vector-icon--shapes-icons--icons-download-14.png">
                                420 views
                            </div>


                        </div>

                        <div class="row">
                            <h6>Today</h6>
                            <div class="mr-1 ml-1">&bull;</div>
                            <h6>Full-time</h6>
                            <div class="mr-1 ml-1">&bull;</div>
                            <h6>7 Applicants</h6>
                        </div>

                        <div class="row">
                            <button id="apply-now" type="button" class="btn col mr-3">Java</button>
                            <button id="apply-now" type="button" class="btn col mr-3">Game Dev</button>
                            <button id="apply-now" type="button" class="btn col mr-3">Ha Noi</button>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <button type="button" class="col pr-0 mb-3 align-self-end" style="background-color: transparent; border: none">
                            <img height="30" width="30" class="rounded float-right" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Bookmark_icon.svg/1024px-Bookmark_icon.svg.png" />
                        </button>
                        <h5 style="font-size: 15px; text-align: right">Game Studio</h5>
                        <h5 style="font-size: 13px; text-align: right"><b>$69.000</b>/Year</h5>
                    </div>
                </div>

                <div class="row p-2 mt-2" id="job-item">
                    <img class="col-md-2" src="https://laptrinhcanban.com/css/images/page/java-co-ban-cho-nguoi-moi-bat-dau.webp" width="90" height="70">
                    <div class="col-md-7" style="width:60vw">
                        <div class="row">
                            <h5 style="font-size: 20px"><b>JAVA Developer Specialist Generalist</b></h5>
                            <h6>Ho Chi Minh</h6>
                            <div class="mr-1 ml-1">&bull;</div>
                            <h6>District 4</h6>
                            <div class="col-md-5 ml-3">
                                <img height="20" width="20" class="mr-1" src="https://www.freeiconspng.com/thumbs/eye-icon/eye-of-a-human-vector-icon--shapes-icons--icons-download-14.png">
                                420 views
                            </div>


                        </div>

                        <div class="row">
                            <h6>Today</h6>
                            <div class="mr-1 ml-1">&bull;</div>
                            <h6>Full-time</h6>
                            <div class="mr-1 ml-1">&bull;</div>
                            <h6>7 Applicants</h6>
                        </div>

                        <div class="row">
                            <button id="apply-now" type="button" class="btn col mr-3">Java</button>
                            <button id="apply-now" type="button" class="btn col mr-3">Game Dev</button>
                            <button id="apply-now" type="button" class="btn col mr-3">Ha Noi</button>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <button type="button" class="col pr-0 mb-3 align-self-end" style="background-color: transparent; border: none">
                            <img height="30" width="30" class="rounded float-right" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Bookmark_icon.svg/1024px-Bookmark_icon.svg.png" />
                        </button>
                        <h5 style="font-size: 15px; text-align: right">Game Studio</h5>
                        <h5 style="font-size: 13px; text-align: right"><b>$69.000</b>/Year</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4" style="overflow-y: scroll; height: 80vh">
            <img class="rounded mx-auto d-block" src="https://laptrinhcanban.com/css/images/page/java-co-ban-cho-nguoi-moi-bat-dau.webp" width="90" height="90">
            <h5 style="text-align: center"><b>JAVA Developer Specialist Generalist</b></h5>
            <div class="text-center">
                <p>
                    <h6>Ho Chi Minh . District 4</h6>
                </p>
            </div>
            <hr />
            <h5><b>Qualification:</b></h5>
            <p class="text-break lh-sm">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue eros a arcu gravida, eget egestas elit commodo. Nam non rhoncus velit, at efficitur sapien. Proin bibendum maximus ante pulvinar condimentum. In condimentum urna egestas felis sodales, iaculis laoreet nunc pharetra. Fusce venenatis, massa sit amet consectetur pellentesque, massa nunc semper lorem, ut posuere erat velit sed orci. Donec convallis accumsan velit quis ornare. Curabitur porta eros a odio luctus, at suscipit eros commodo. Fusce sed mauris erat. Sed imperdiet eros diam, et eleifend libero pretium sit amet. Phasellus vulputate placerat ante non fermentum. Duis quis elit ultricies, placerat tellus vitae, cursus tortor.
            </p>
            <hr />
            <h5><b>Skills & Requirements:</b></h5>
            <p class="text-break">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue eros a arcu gravida, eget egestas elit commodo. Nam non rhoncus velit, at efficitur sapien. Proin bibendum maximus ante pulvinar condimentum. In condimentum urna egestas felis sodales, iaculis laoreet nunc pharetra. Fusce venenatis, massa sit amet consectetur pellentesque, massa nunc semper lorem, ut posuere erat velit sed orci. Donec convallis accumsan velit quis ornare. Curabitur porta eros a odio luctus, at suscipit eros commodo. Fusce sed mauris erat. Sed imperdiet eros diam, et eleifend libero pretium sit amet. Phasellus vulputate placerat ante non fermentum. Duis quis elit ultricies, placerat tellus vitae, cursus tortor.
            </p>
            <hr />
            <h5><b>About the job:</b></h5>
            <p class="text-break">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue eros a arcu gravida, eget egestas elit commodo. Nam non rhoncus velit, at efficitur sapien. Proin bibendum maximus ante pulvinar condimentum. In condimentum urna egestas felis sodales, iaculis laoreet nunc pharetra. Fusce venenatis, massa sit amet consectetur pellentesque, massa nunc semper lorem, ut posuere erat velit sed orci. Donec convallis accumsan velit quis ornare. Curabitur porta eros a odio luctus, at suscipit eros commodo. Fusce sed mauris erat. Sed imperdiet eros diam, et eleifend libero pretium sit amet. Phasellus vulputate placerat ante non fermentum. Duis quis elit ultricies, placerat tellus vitae, cursus tortor.
            </p>

            <div class="row mb-2">
                <button style="border-radius: 10px; border-color:#325EEA;" class="col-8 btn mr-2 ml-3" id="apply-now">Apply now</button>
                <button style="border-radius: 10px" type="button" class="col-3 btn btn-primary">
                    <img width="20" height="20" src="https://cdn.iconscout.com/icon/free/png-256/list-message-2367725-1976875.png" />
                </button>
            </div>
        </div>
    </div>
</body>
</html>