@{
    ViewData["Title"] = "ViewCompany";
}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet"
      id="bootstrap-css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet"
      id="bootstrap-css" />
<link rel="stylesheet" href="/css/viewcompany_style.css">
<link rel="stylesheet" href="/css/layout-style.css"> <!-- check -->
<!DOCTYPE html>
<html>
<body>
    <div class="row flex mb-3">
        <button style="width:15vh; height: 80vh; border:none; background-color: transparent;">
            <img src="~/media/arroww left.svg" />
        </button>
        <div class="col-md-3 p-0 col-12 bg-light d-flex overflow-hidden " style="height: 80vh;">
            <div class="card p-0   w-100 h-100 text-light   border-0 ">
                <img class="card-img h-100 w-100"
                     src="https://images.unsplash.com/photo-1550757750-4ce187a65014?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                     alt="Card image">
                <div class="card-img-overlay p-1 p-md-3">
                    <div class="position-relative  w-100  h-100 d-flex">
                        <div class="container-fluid align-self-end  mt-5 mb-2">
                            <div class="row">
                                <div class="col-md-6 col-7">
                                    <div class=" pt-0 d-inline-block">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7  pt-5 pt-md-1  bg-transparent">
            <h1 id="companyName">TIKI.vn</h1>
            <div class="container-fluid d-flex align-items-center" style="height:35vh">

                <div class="row justify-content-md-center">
                    <span class="vl"></span>
                    <div class="col-md-12">
                        <p id="companyDetail" style="height: 30vh; overflow-y: scroll;">
                            Industry: E-Commerce <br /> <br />
                            Công ty cổ phần Ti Ki ("TiKi") là đơn vị thiết lập, tổ chức sàn thương mại điện tử www.tiki.vn để các Nhà bán hàng thể tiến hành một phần hoặc toàn bộ quy trình mua bán hàng hóa, dịch vụ trên sàn thương mại điện tử.<br /> <br />
                            Vị trí tuyển dụng: <br />
                            - Front-end <br />
                            - Back-end <br />
                            - Full stack <br /> <br />
                            Highlights: <br />
                            - Top 50 Companies
                    </div>
                </div>
            </div>
            @*<p class="mt-4" style="margin-left: 10px"></p>  cái này để làm gì á*@
            <button id="companyinfo">
                See Jobs
            </button>
        </div>
        @*<button style="margin-bottom: 10px; margin-left :46%; height:40px; width:40px; border-radius: 50%; background-color: white">
            </button>*@
        <button style="width:15vh; height: 80vh; border:none ; background-color: transparent;">
            <img src="~/media/arrowww.svg" />
        </button>
    </div>


    @*<div id="leftArrow">
            <button id="LButton">
                <img src="~/media/arroww left.svg" height=60 width=60 />
            </button>
        </div>
        <div id="rightArrow">
            <button id="RButton">
                <img src="~/media/arrowww.svg" height=60 width=60 />
            </button>
        </div>*@
</body>
</html>

<!-- Modal -->
<!--<div id="cvDetail" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="exampleModalScrollableTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document" style="overflow-y: initial">-->
<!-- Modal content-->
<!--<div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Company Profile</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="height: 60vh; overflow-y: auto;">
                Tiki là một hệ sinh thái thương mại tất cả trong một, gồm các công ty thành viên như:

                - Công ty cổ phần Ti Ki ("TiKi") là đơn vị thiết lập, tổ chức sàn thương mại điện tử www.tiki.vn để các Nhà bán hàng thể tiến hành một phần hoặc toàn bộ quy trình mua bán hàng hóa, dịch vụ trên sàn thương mại điện tử.
                - Công ty TNHH Tikinow Smart Logistics ("TNSL") là đơn vị cung cấp các dịch vụ logistics đầu-cuối, dịch vụ vận chuyển, dịch vụ bưu chính cho Sàn thương mại điện tử www.tiki.vn
                - Công ty TNHH MTV Thương mại Ti Ki ("Tiki Trading") là đơn vị bán hàng hóa, dịch vụ trên sàn thương mại điện tử
                - Đơn vị bán lẻ Tiki Trading và Sàn Giao dịch cung cấp 10 triệu sản phẩm từ 26 ngành hàng phục vụ hàng triệu khách hàng trên toàn quốc.

                Với phương châm hoạt động “Tất cả vì Khách Hàng”, Tiki luôn không ngừng nỗ lực nâng cao chất lượng dịch vụ và sản phẩm, từ đó mang đến trải nghiệm mua sắm trọn vẹn cho Khách Hàng Việt Nam với dịch vụ giao hàng nhanh trong 2 tiếng và ngày hôm sau TikiNOW lần đầu tiên tại Đông Nam Á, cùng cam kết cung cấp hàng chính hãng với chính sách hoàn tiền 111% nếu phát hiện hàng giả, hàng nhái.

                Thành lập từ tháng 3/2010, Tiki.vn hiện đang là trang thương mại điện tử lọt top 2 tại Việt Nam và top 6 tại khu vực Đông Nam Á.

                Tiki lọt Top 1 nơi làm việc tốt nhất Việt Nam trong ngành Internet/E-commerce 2018 (Anphabe bình chọn), Top 50 nơi làm việc tốt nhất châu Á 2019 (HR Asia bình chọn).
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>-->
