
@{
    ViewData["Title"] = "ViewCompany";
    Layout = null; 
}



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet"
      id="bootstrap-css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet"
      id="bootstrap-css" />

<!DOCTYPE html>
<html>
<style>
    a {
        margin: 10px;
    }
</style>
<div class="header">
    <a style="float:right" href="#" class="btn btn-dark shadow-lg">Profile Matching</a>
    <a style="float:right" href="#" class="btn btn-dark shadow-lg">Head Hunt</a>
    <a style="float:right" href="#" class="btn btn-dark shadow-lg">Event</a>
</div>
<section class="">
    <div class="container-fluid m-0 ">
        <div class="row d-md-flex-row  overflow-hidden">
            <div class="col-md-4  p-0 col-12 bg-light d-flex overflow-hidden ">
                <div class="card p-0   w-100 h-100 text-light   border-0 ">
                    <img class="card-img h-100 w-100"
                         src="https://images.unsplash.com/photo-1550757750-4ce187a65014?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                         alt="Card image">
                    <div class="card-img-overlay p-1 p-md-3">
                        <div class="position-relative  w-100  h-100 d-flex">
                            <div class="container-fluid align-self-end  mt-5 mb-2">
                                <div class="row">
                                    <div class="col-md-6 col-7">
                                        <div class=" pt-0 d-inline-block">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8  pt-5 pt-md-1 pb-5 overflow-hidden bg-light">
                <div class="container-fluid p-md-5 d-flex align-items-center h-100">
                    <div class="row justify-content-md-center">

                        <div class="col-md-8">

                            <h3 class="small">IBM</h3>

                            <h1 class="  mb-5 pt-md-2 pt-sm-4">Tech Company </h1>
                            <p>Make good computers</p>                       
                            <p class="mt-md-5 mt-5 mb-5">
                                <button class="btn btn-dark shadow-lg" data-toggle="modal" data-target="#cvDetail">
                                    See
                                   Jobs
                                </button>
                            </p>
                        </div>
                       
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

</html>

<!-- Modal -->
<div id="cvDetail" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="exampleModalScrollableTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document" style="overflow-y: initial">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">CV Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="height: 60vh; overflow-y: auto;">
                John Doe<br>
                nguyenvana@gmail.com|0909.xxx.xxx/www.linkedin.com/in/nguyenvana<br><br>
                Personal Profile<br>
                Highly adaptable, versatile and analytical Computer Science undergraduate student with solid Maths
                background.<br>
                Experienced in programming languages such as SQL, Python, C++, C#, PHP as evidenced by maintaining
                near perfect mark in
                programming assignments during studies at Edith
                Cowan University (ECU), current role as a coding workshop tutor at Edith Cowan University as well as
                multiple machine learning projects participated.<br>
                Aiming to work hard with integrity and apply my knowledge, project execution skills to achieve
                personal as well as organizational goals.<br><br>
                Education<br>
                Degree: Computer Science - Software Engineering<br>
                02/2020 - 12/2022<br>
                Edith Cowan University, Western Australia<br>
                Major: Math<br>
                NGUYEN THI MINH KHAI Highschool For the Gifted, Vietnam 08/2016 - 06/2019<br><br>
                Awards<br>
                2021, Top 100 Student, Edith Cowan University.<br>
                2020, Top 100 Student, Edith Cowan University.<br>
                2017, Third prize in science subject competition, Soc Trang city Education Department.<br>
                2016, Third prize in science subject competition, Soc Trang city Education Department.<br>
                2015, Third prize in Vietnam National English competition, Vietnam Education Department<br><br>
                Skills Summary<br>
                Technical Skills:<br>
                Strong programming skills acquired through extensive exposure to programming languages such as SQL,
                Python, C++, Java, C#, PHP.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

