#matching {
    margin-left: 70%;
    font-size: 20px;
    color: #000000;
    text-decoration: underline;
}

#logo {
    margin-right: 90%;
    font-size: 20px;
}

#headhunt {
    margin-left: 0.5%;
    font-size: 20px;
    color: #000000;
}

#event {
    margin-left: 0.5%;
    font-size: 20px;
    color: #000000;
}

#companyinfo {
    background-color: #325EEA;
    color: #FFFFFF;
    padding: 20px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: #325EEA;
    border-radius: 5px;
}

#next {
    background-color: #325EEA;
    color: #FFFFFF;
    padding: 20px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: #325EEA;
    border-radius: 5px;
    margin-left: 50%;
}
