/* width */
::-webkit-scrollbar {
    width: 7px;
    overflow: auto;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #EAEAEA;
    /*visibility: hidden;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 10px;
}
/*.navbar{
    max-width: 1140px;
}*/
.container{
    max-width: 175%;
}